<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.SQL Server (SqlClient)" connectionString="data source=ATHENA\SQLEXPRESS2017;initial catalog=ORMCookbook;integrated security=SSPI;persist security info=False"/>
	</connectionStrings>
</configuration> 